<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teste Watson</title>
    <style>
    .metade1{
      position: absolute;
      top: 5%;
      bottom: 5%;
      right: 60%;
      left: 5%;
      /*border: 1px solid black;*/
    }
    .linha{
      position: absolute;
      top: 2%;
      bottom: 2%;
      right: 53%;
      left: 47%;
      border: 1px solid gray;
    }
    .metade2{
      position: absolute;
      top: 5%;
      bottom: 5%;
      right: 5%;
      left: 54%;
      /*border: 1px solid black;*/
    }
    </style>
  <body>
      {{{body}}}
  </body>
</html>
